header {
  z-index: 10;
}

.Company_page {
  margin-top: 150px;
  height: 100%;
  margin-bottom: 80px;
}
.Company_page .container .company-headr {
  width: 100%;
  height: auto;
  position: relative;
}
.Company_page .container .company-headr .right-img {
  position: absolute;
  right: 0;
}
.Company_page .container .company-headr .color-wr {
  width: 350px;
  height: 30px;
  background-color: #000;
  position: absolute;
  right: 0;
  margin-top: 50px;
  display: flex;
}
.Company_page .container .company-headr .color-wr div:nth-child(1) {
  width: 30%;
  height: 100%;
  background: #ffa155;
}
.Company_page .container .company-headr .color-wr div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: #ffd3af;
}
.Company_page .container .company-headr .color-wr div:nth-child(3) {
  width: 20%;
  height: 100%;
  background: #444cfc;
}
.Company_page .container .company-headr .left-img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background: #ffd3af;
}
.Company_page .container .company-headr .company-p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 20px;
}
.Company_page .container .company-headr .company-h1 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  padding-top: 80px;
  width: 700px;
}
.Company_page .container .company-headr .company-p_one {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 25px;
  width: 700px;
}
.Company_page .container .company-headr .company_header_img {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Company_page .container .company-headr .company_header_img img {
  cursor: pointer;
}
.Company_page .container .store-wrapper-w {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.Company_page .container .store-wrapper-w .our {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-top: 10px;
}
.Company_page .container .store-wrapper-w .store-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-left {
  width: 45%;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-left h1 {
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 30px;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-left p {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 20px;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right {
  width: 45%;
  background: rgba(255, 211, 175, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr {
  width: 80%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div {
  width: 40%;
  height: 40%;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div h1 {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div p {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.Company_page .container .store-wrapper-w .story-logo {
  width: 100%;
  height: 80px;
  background: #fafafc;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Company_page .company-section {
  width: 100%;
  height: 660px;
  background: #ecf8f9;
  margin-top: 100px;
}
.Company_page .company-section .container {
  height: 100%;
}
.Company_page .company-section .container .company-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left {
  width: 45%;
  height: 70%;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left .top-p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left h1 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  padding-top: 30px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left p {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right {
  width: 45%;
  height: 70%;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 {
  margin-top: 0px;
  width: 515px;
  height: 140px;
  flex-shrink: 0;
  background: #fff;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card .radius {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #ffe6d2;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card .text .text-one {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding: 15px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card .text .text-two {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 3px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 {
  margin-top: 0px;
  width: 515px;
  height: 140px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 15px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card .radius {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #ffe6d2;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card .text .text-one {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding: 15px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card .text .text-two {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 3px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 {
  margin-top: 0px;
  width: 515px;
  height: 140px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 15px;
  float: left;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card .radius {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #ffe6d2;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card .text .text-one {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding: 15px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card .text .text-two {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 3px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .wrr {
  width: 515px;
  float: left;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444cfc;
}
.Company_page .company-section .container .company-section-wrapper .wrr div:nth-child(1) {
  width: 25%;
  height: 100%;
  background: #ffa155;
}
.Company_page .company-section .container .company-section-wrapper .wrr div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: #ffd3af;
}
.Company_page .company-section .container .company-section-wrapper .wrr div:nth-child(3) {
  width: 25%;
  height: 100%;
  background-color: #444cfc;
}
.Company_page .vision-wrapper {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.Company_page .vision-wrapper .vision-top {
  width: 100%;
}
.Company_page .vision-wrapper .vision-top h4 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .vision-wrapper .vision-top h1 {
  color: #232536;
  width: 701px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 40px;
}
.Company_page .vision-wrapper .vision-top p {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 622px;
  padding-top: 20px;
}
.Company_page .vision-wrapper .vision-bottom {
  width: 100%;
  height: 370px;
  margin-top: 60px;
  background-image: url("../../images/Company/Image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Company_page .team-section {
  width: 100%;
  padding-top: 100px;
  height: 100%;
}
.Company_page .team-section h4 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .team-section h1 {
  color: #232536;
  width: 600px;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  padding-top: 20px;
}
.Company_page .team-section p {
  color: #232536;
  width: 505.049px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 30px;
}
.Company_page .team-section .from {
  position: relative;
  width: 100%;
  height: 333px;
  background: var(--secondary-blue, #666dff);
}
.Company_page .team-section .from .top-img-f {
  position: absolute;
  top: 0;
  left: 0;
}
.Company_page .team-section .from .top-img-r {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
}
.Company_page .team-section .from .top-img-r div:nth-child(1) {
  width: 100%;
  height: 25%;
  background: #ffa155;
}
.Company_page .team-section .from .top-img-r div:nth-child(2) {
  width: 100%;
  height: 50%;
  background: #ffd3af;
}
.Company_page .team-section .from .top-img-r div:nth-child(3) {
  width: 100%;
  height: 25%;
  background: #4f56ff;
}
.Company_page .team-section .from .from-item {
  width: 85%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Company_page .team-section .from .from-item p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .team-section .from .from-item h1 {
  color: #fff;
  width: 488px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  float: left;
}
.Company_page .team-section .from .from-item input {
  width: 454px;
  height: 64px;
  flex-shrink: 0;
  background: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 50px;
}
.Company_page .team-section .team-imgs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px;
}
.Company_page .team-section .team-imgs .team-img:hover div {
  opacity: 0.8;
  transform: scale(1);
}
.Company_page .team-section .team-imgs .team-img {
  width: 25%;
  height: 320px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.Company_page .team-section .team-imgs .team-img div {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: rgba(35, 37, 54, 0.99);
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
}
.Company_page .team-section .team-imgs .team-img div h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  padding: 180px 0 0 20px;
}
.Company_page .team-section .team-imgs .team-img div h6 {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 0px 0 0 22px;
}
.Company_page .team-section .team-imgs .team-img div .icon {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-left: 2px;
}
.Company_page .team-section .team-imgs .team-img:nth-child(1) {
  background-image: url("../../images/Company/Team 1.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(2) {
  background-image: url("../../images/Company/Team 2.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(3) {
  background-image: url("../../images/Company/Team 3.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(4) {
  background-image: url("../../images/Company/Team 4.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(5) {
  background-image: url("../../images/Company/Team 5.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(6) {
  background-image: url("../../images/Company/Team 6.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(7) {
  background-image: url("../../images/Company/Team 7.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(8) {
  background-image: url("../../images/Company/Team 8.png");
}