@use "layout" as *;
@use "page" as *;
@use "themes" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  margin-top: 70px;
}

.dark {
  background-color: #111 !important;
}

.dark {
  color: #ccc !important;
}
