footer {
  padding-top: 96px;
}
footer .ustuns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
}
footer .ustuns .ustun-1 {
  min-width: 250px;
}
footer .ustuns .ustun-1 h2 {
  max-width: 452px;
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  padding: 36px 0;
}
footer .ustuns .ustun-1 h4 {
  color: #232536;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
footer .ustuns .ustun-1 p {
  padding: 28px 0px 4px 0;
  color: #232536;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
footer .ustuns .ustun-1 h6 {
  padding-bottom: 14px;
  color: #232536;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
footer .ustuns .ustun-2 {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .ustuns .ustun-2 h6 {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
footer .ustuns .ustun-2 h6:hover {
  color: #ffd3af;
  transition: 0.3s;
  font-size: 18px;
}
footer .ustuns .ustun-2 p {
  color: #232536;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
footer .ustuns .ustun-2 p:hover {
  color: #ffd3af;
  transition: 0.3s;
  font-size: 16px;
}
footer .ustuns .ustun-2 a {
  font-family: Poppins;
}
footer .ustuns .ustun-2 a:hover {
  color: #ffd3af;
  transition: 0.3s;
  font-size: 16px;
}
footer .ortiqcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
footer .ortiqcha p {
  max-width: 206px;
  color: #232536;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
footer .ortiqcha a {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .ortiqcha a:hover p {
  color: #ffd3af;
  transition: 0.3s;
}
footer .foot-foot {
  background-color: #ffe6d2;
  margin-top: 64px;
}
footer .foot-foot .charchadim {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .foot-foot .charchadim .foot_foot-1 {
  display: flex;
  gap: 42px;
  align-items: center;
}
footer .foot-foot .charchadim .foot_foot-1 p {
  font-family: Poppins;
}
footer .foot-foot .charchadim .foot_foot-2 {
  display: flex;
  gap: 16px;
}
footer .foot-foot .charchadim .foot_foot-2 a:hover svg path {
  transition: 0.3s;
  fill: #f3b17a;
}

header {
  background-color: #232536;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
header nav .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header nav .nav-items .nav-item {
  display: flex;
  gap: 32px;
}
header nav .nav-items .nav-item a {
  border-color: 3px solid transparent;
  color: #fff;
  /* Text link */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  padding-top: 8px;
  height: 100%;
  align-items: center;
  display: flex;
  gap: 8px;
}
header nav .nav-items .nav-item a:hover {
  border-top: 3px solid #ffa155;
  transition: 0.2s;
  color: #ffa155;
}
header nav .nav-items .nav-item .next {
  color: #ffd3af;
}
header nav .nav-items .nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .nav-items .nav-btn #dark-light {
  background-color: transparent;
  cursor: pointer;
  border-radius: 44px;
  overflow: hidden;
  border: 0;
  /* Checked */
  /* Other States */
}
header nav .nav-items .nav-btn #dark-light .l {
  display: block;
  margin-bottom: 1.5em;
  font-size: 1em;
  cursor: pointer;
}
header nav .nav-items .nav-btn #dark-light .l {
  background-color: rgb(0, 0, 0);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
  color: #fff;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header nav .nav-items .nav-btn #dark-light .l:before,
header nav .nav-items .nav-btn #dark-light .l:after {
  content: "";
  display: block;
}
header nav .nav-items .nav-btn #dark-light .l:before {
  background-color: #fff;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}
header nav .nav-items .nav-btn #dark-light .l:after {
  background: linear-gradient(transparent 50%, rgb(255, 255, 255) 0) 0 50%/50% 100%, repeating-linear-gradient(90deg, #fff 0, #fff, #fff 20%, #fff 20%, #fff 40%) 0 50%/50% 100%, radial-gradient(circle at 50% 50%, #ffffff 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #fff;
  border-right: 0 solid transparent;
  transition: border-left-color 0.4s 0.1s ease-out, transform 0.1s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}
header nav .nav-items .nav-btn #dark-light .l:checked {
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}
header nav .nav-items .nav-btn #dark-light .l:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}
header nav .nav-items .nav-btn #dark-light .l:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}
header nav .nav-items .nav-btn #dark-light .l:focus {
  /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
  outline: 0;
}
header nav .nav-items .nav-btn .burger_menu {
  display: none;
}

@media only screen and (max-width: 999px) {
  header nav .nav-items .nav-item {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(35, 37, 54, 0.909);
    flex-direction: column;
    padding: 50px;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  header nav .nav-items .nav-item a {
    font-size: 20px;
  }
  header nav .nav-items .nav-item a::before {
    top: -10px;
  }
  header nav .nav-items .nav-btn .burger_menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 28px;
    height: 24px;
    transition: all 0.5s ease-in-out;
  }
  header nav .nav-items .nav-btn .burger_menu span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
  }
  .open_menu header nav .nav-items .nav-item {
    transform: translateY(0);
  }
  .open_menu header nav .nav-items .nav-btn .burger_menu {
    transform: rotate(360deg);
  }
  .open_menu header nav .nav-items .nav-btn .burger_menu_top {
    position: absolute;
    transform: rotate(135deg);
  }
  .open_menu header nav .nav-items .nav-btn .burger_menu_center {
    position: absolute;
    transform: rotate(-135deg);
  }
  .open_menu header nav .nav-items .nav-btn .burger_menu_bottom {
    display: none;
  }
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
.square {
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  margin-top: -40px;
  background: #ffd3af;
}

.logos {
  text-align: end;
}
.logos img {
  margin-top: 96px;
}

.main__title {
  width: 730px;
  color: #232536;
  margin-top: 24px;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}

.par_1 {
  width: 719px;
  color: #232536;
  margin-top: 22px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: -50px;
}
.avatar img {
  margin-top: 98px;
}
.avatar p {
  margin-top: 100px;
}

.main-img img {
  margin-top: 65px;
}

.main__section-text {
  margin: auto;
  width: 842px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 123px;
}
.main__section-text p {
  text-align: left;
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main__section-text p p {
  text-align: justify;
}
.main__section-text h3 {
  text-align: justify;
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
}

.from {
  margin-top: 96px;
  position: relative;
  width: 100%;
  height: 333px;
  background: var(--secondary-blue, #666dff);
}
.from .top-img-f {
  position: absolute;
  top: 0;
  left: 0;
}
.from .top-img-r {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
}
.from .top-img-r div:nth-child(1) {
  width: 100%;
  height: 25%;
  background: #ffa155;
}
.from .top-img-r div:nth-child(2) {
  width: 100%;
  height: 50%;
  background: #ffd3af;
}
.from .top-img-r div:nth-child(3) {
  width: 100%;
  height: 25%;
  background: #4f56ff;
}
.from .from-item {
  width: 85%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.from .from-item p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.from .from-item h1 {
  color: #fff;
  width: 488px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  float: left;
}
.from .from-item input {
  width: 454px;
  height: 64px;
  flex-shrink: 0;
  background: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 50px;
}

@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
.Career_page .career__main {
  padding: 96px 0px;
  max-width: 1600px;
  display: block;
  text-align: center;
}
.Career_page .career__main__text-desc {
  display: inline;
  color: #232536;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Career_page .career__main__primary-text {
  padding: 24px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #232536;
  max-width: 624px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}
@media (max-width: 400px) {
  .Career_page .career__main__primary-text {
    font-size: 35px;
  }
}
.Career_page .career__main__second-desc {
  margin-left: auto;
  margin-right: auto;
  max-width: 624px;
  color: #232536;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.Career_page .career__main__bg-img {
  width: 100%;
  max-width: 900px;
  height: auto;
  padding-top: 40px;
}
.Career_page .career__main__link {
  padding-top: 50px;
  color: #232536;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
@media (max-width: 400px) {
  .Career_page .career__main__link {
    font-size: 12px;
  }
}
.Career_page .portifolio__box {
  display: grid;
  flex-wrap: nowrap;
  max-width: 1100px;
  padding: 78px 76px;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  background-color: #ecf8f9;
}
@media (max-width: 1000px) {
  .Career_page .portifolio__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 737px) {
  .Career_page .portifolio__box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  .Career_page .portifolio__box {
    padding: 30px;
  }
}
.Career_page .portifolio__box__cards {
  max-width: 354px;
  height: 243px;
  background-color: white;
}
.Career_page .portifolio__box__cards--theme {
  padding: 48px 48px 10px 48px;
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 370px) {
  .Career_page .portifolio__box__cards--theme {
    padding: 30px 24px 12px 24px;
  }
}
.Career_page .portifolio__box__cards--desc1 {
  padding: 0px 0px 3px 48px;
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 370px) {
  .Career_page .portifolio__box__cards--desc1 {
    padding: 10px 20px;
  }
}
.Career_page .portifolio__box__cards--desc2 {
  padding: 0px 0px 52px 48px;
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 370px) {
  .Career_page .portifolio__box__cards--desc2 {
    padding: 10px 20px;
  }
}
.Career_page .portifolio__box__cards--link p {
  padding: 0px 0px 30px 48px;
  color: #5d5fef;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 370px) {
  .Career_page .portifolio__box__cards--link p {
    padding: 10px 20px;
  }
}
.Career_page .our__work-culture--head {
  margin-top: 192px;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Career_page .our__work-culture--theme {
  max-width: 624px;
  padding: 16px 0px 24px 0px;
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
}
.Career_page .our__work-culture--desc {
  margin-bottom: 64px;
  max-width: 622px;
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.Career_page .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
@media (max-width: 1100px) {
  .Career_page .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }
}
@media (max-width: 750px) {
  .Career_page .cards {
    grid-template-columns: 1fr;
    padding: 0px;
  }
}
.Career_page .cards .card {
  max-width: 418px;
  height: 188px;
  padding: 32px;
}
@media (max-width: 1100px) {
  .Career_page .cards .card {
    margin-left: auto;
    margin-right: auto;
  }
}
.Career_page .cards .card__primary-text {
  padding: 8px 0px;
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
.Career_page .cards .card__desc {
  padding-bottom: 32px;
  color: #232536;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

header {
  z-index: 10;
}

.Company_page {
  margin-top: 150px;
  height: 100%;
  margin-bottom: 80px;
}
.Company_page .container .company-headr {
  width: 100%;
  height: auto;
  position: relative;
}
.Company_page .container .company-headr .right-img {
  position: absolute;
  right: 0;
}
.Company_page .container .company-headr .color-wr {
  width: 350px;
  height: 30px;
  background-color: #000;
  position: absolute;
  right: 0;
  margin-top: 50px;
  display: flex;
}
.Company_page .container .company-headr .color-wr div:nth-child(1) {
  width: 30%;
  height: 100%;
  background: #ffa155;
}
.Company_page .container .company-headr .color-wr div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: #ffd3af;
}
.Company_page .container .company-headr .color-wr div:nth-child(3) {
  width: 20%;
  height: 100%;
  background: #444cfc;
}
.Company_page .container .company-headr .left-img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background: #ffd3af;
}
.Company_page .container .company-headr .company-p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 20px;
}
.Company_page .container .company-headr .company-h1 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  padding-top: 80px;
  width: 700px;
}
.Company_page .container .company-headr .company-p_one {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 25px;
  width: 700px;
}
.Company_page .container .company-headr .company_header_img {
  margin-top: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Company_page .container .company-headr .company_header_img img {
  cursor: pointer;
}
.Company_page .container .store-wrapper-w {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.Company_page .container .store-wrapper-w .our {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-top: 10px;
}
.Company_page .container .store-wrapper-w .store-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-left {
  width: 45%;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-left h1 {
  color: #232536;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 30px;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-left p {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 20px;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right {
  width: 45%;
  background: rgba(255, 211, 175, 0.57);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr {
  width: 80%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div {
  width: 40%;
  height: 40%;
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div h1 {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
}
.Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div p {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.Company_page .container .store-wrapper-w .story-logo {
  width: 100%;
  height: 80px;
  background: #fafafc;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Company_page .company-section {
  width: 100%;
  height: 660px;
  background: #ecf8f9;
  margin-top: 100px;
}
.Company_page .company-section .container {
  height: 100%;
}
.Company_page .company-section .container .company-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left {
  width: 45%;
  height: 70%;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left .top-p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left h1 {
  color: #232536;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  padding-top: 30px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-left p {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right {
  width: 45%;
  height: 70%;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 {
  margin-top: 0px;
  width: 515px;
  height: 140px;
  flex-shrink: 0;
  background: #fff;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card .radius {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #ffe6d2;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card .text .text-one {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding: 15px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 .card .text .text-two {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 3px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 {
  margin-top: 0px;
  width: 515px;
  height: 140px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 15px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card .radius {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #ffe6d2;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card .text .text-one {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding: 15px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 .card .text .text-two {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 3px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 {
  margin-top: 0px;
  width: 515px;
  height: 140px;
  flex-shrink: 0;
  background: #fff;
  margin-top: 15px;
  float: left;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card .radius {
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-color: #ffe6d2;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card .text .text-one {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding: 15px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 .card .text .text-two {
  color: #5d5f6d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 3px 0 0px 20px;
}
.Company_page .company-section .container .company-section-wrapper .wrr {
  width: 515px;
  float: left;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444cfc;
}
.Company_page .company-section .container .company-section-wrapper .wrr div:nth-child(1) {
  width: 25%;
  height: 100%;
  background: #ffa155;
}
.Company_page .company-section .container .company-section-wrapper .wrr div:nth-child(2) {
  width: 50%;
  height: 100%;
  background: #ffd3af;
}
.Company_page .company-section .container .company-section-wrapper .wrr div:nth-child(3) {
  width: 25%;
  height: 100%;
  background-color: #444cfc;
}
.Company_page .vision-wrapper {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
.Company_page .vision-wrapper .vision-top {
  width: 100%;
}
.Company_page .vision-wrapper .vision-top h4 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .vision-wrapper .vision-top h1 {
  color: #232536;
  width: 701px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 40px;
}
.Company_page .vision-wrapper .vision-top p {
  color: #232536;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 622px;
  padding-top: 20px;
}
.Company_page .vision-wrapper .vision-bottom {
  width: 100%;
  height: 370px;
  margin-top: 60px;
}
.Company_page .vision-wrapper .vision-bottom img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.Company_page .team-section {
  width: 100%;
  padding-top: 100px;
  height: 100%;
}
.Company_page .team-section h4 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .team-section h1 {
  color: #232536;
  width: 600px;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  padding-top: 20px;
}
.Company_page .team-section p {
  color: #232536;
  width: 505.049px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  padding-top: 30px;
}
.Company_page .team-section .from {
  position: relative;
  width: 100%;
  height: 333px;
  background: var(--secondary-blue, #666dff);
}
.Company_page .team-section .from .top-img-f {
  position: absolute;
  top: 0;
  left: 0;
}
.Company_page .team-section .from .top-img-r {
  position: absolute;
  right: 0;
  width: 20px;
  height: 100%;
}
.Company_page .team-section .from .top-img-r div:nth-child(1) {
  width: 100%;
  height: 25%;
  background: #ffa155;
}
.Company_page .team-section .from .top-img-r div:nth-child(2) {
  width: 100%;
  height: 50%;
  background: #ffd3af;
}
.Company_page .team-section .from .top-img-r div:nth-child(3) {
  width: 100%;
  height: 25%;
  background: #4f56ff;
}
.Company_page .team-section .from .from-item {
  width: 85%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Company_page .team-section .from .from-item p {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Company_page .team-section .from .from-item h1 {
  color: #fff;
  width: 488px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  float: left;
}
.Company_page .team-section .from .from-item input {
  width: 454px;
  height: 64px;
  flex-shrink: 0;
  background: #fff;
  outline: none;
  border: none;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 50px;
}
.Company_page .team-section .team-imgs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px;
}
.Company_page .team-section .team-imgs .team-img:hover div {
  opacity: 0.8;
  transform: scale(1);
}
.Company_page .team-section .team-imgs .team-img {
  width: 25%;
  height: 320px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.Company_page .team-section .team-imgs .team-img div {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: rgba(35, 37, 54, 0.99);
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
}
.Company_page .team-section .team-imgs .team-img div h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  padding: 180px 0 0 20px;
}
.Company_page .team-section .team-imgs .team-img div h6 {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  padding: 0px 0 0 22px;
}
.Company_page .team-section .team-imgs .team-img div .icon {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  padding-left: 2px;
}
.Company_page .team-section .team-imgs .team-img:nth-child(1) {
  background-image: url("../../images/Company/Team 1.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(2) {
  background-image: url("../../images/Company/Team 2.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(3) {
  background-image: url("../../images/Company/Team 3.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(4) {
  background-image: url("../../images/Company/Team 4.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(5) {
  background-image: url("../../images/Company/Team 5.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(6) {
  background-image: url("../../images/Company/Team 6.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(7) {
  background-image: url("../../images/Company/Team 7.png");
}
.Company_page .team-section .team-imgs .team-img:nth-child(8) {
  background-image: url("../../images/Company/Team 8.png");
}

@media screen and (max-width: 1340px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .Company_page .container {
    width: 100%;
  }
  .Company_page .container .company-headr .color-wr {
    width: 28%;
  }
  .Company_page .container .company-headr .company_header_img img {
    width: 33.33%;
  }
}
@media screen and (max-width: 1060px) {
  .Company_page .company-section {
    height: auto;
  }
  .Company_page .company-section .container .company-section-wrapper {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-left {
    width: 100%;
    height: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  .Company_page .team-section .team-imgs {
    justify-content: left;
  }
  .Company_page .team-section .team-imgs .team-img {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .Company_page .team-section .from .from-item {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .Company_page .container .store-wrapper-w .story-logo {
    justify-content: space-between;
  }
  .Company_page .container .store-wrapper-w .story-logo img {
    width: 95px;
  }
}
@media screen and (max-width: 745px) {
  .Company_page .container .company-headr .company-h1 {
    width: 100%;
  }
  .Company_page .container .company-headr .company-p_one {
    width: 100%;
  }
  .Company_page .container .store-wrapper-w .story-logo {
    justify-content: space-between;
  }
  .Company_page .container .store-wrapper-w .story-logo img {
    width: 95px;
  }
  .Company_page .container .vision-wrapper .vision-top h1 {
    width: 100%;
  }
  .Company_page .container .vision-wrapper .vision-top p {
    width: 100%;
  }
  .Company_page .team-section h1 {
    width: 100%;
  }
  .Company_page .team-section p {
    width: 100%;
  }
  .Company_page .team-section .team-imgs {
    justify-content: left;
  }
  .Company_page .team-section .team-imgs .team-img {
    width: 50%;
    margin-bottom: 30px;
    background-position: center;
  }
  .Company_page .team-section .from {
    height: 500px;
  }
  .Company_page .team-section .from .from-item div {
    margin-top: 80px;
  }
  .Company_page .team-section .from .from-item h1 {
    width: 100%;
  }
  .Company_page .team-section .from .from-item input {
    width: 100%;
  }
  .Company_page .container .store-wrapper-w .store-wrapper {
    flex-wrap: wrap;
  }
  .Company_page .container .store-wrapper-w .store-wrapper .store-item-left {
    width: 100%;
  }
  .Company_page .container .store-wrapper-w .store-wrapper .store-item-right {
    margin-top: 20px;
    width: 100%;
    height: 350px;
  }
  .Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div h1 {
    font-size: 30px;
  }
  .Company_page .container .store-wrapper-w .store-wrapper .store-item-right .store-item-right-wr div p {
    font-size: 13px;
  }
}
@media screen and (max-width: 560px) {
  .Company_page .company-section {
    height: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-left {
    width: 100%;
    height: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-left h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .wrr {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .Company_page .container .company-headr .company-h1 {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
  }
  .Company_page .container .company-headr .company-p_one {
    width: 100%;
  }
  .Company_page .container .company-headr .company_header_img {
    flex-wrap: wrap;
  }
  .Company_page .container .company-headr .company_header_img img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .Company_page .container .store-wrapper-w {
    height: 100%;
  }
  .Company_page .container .store-wrapper-w .story-logo {
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .Company_page .container .store-wrapper-w .story-logo img {
    width: 95px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 560px) {
  .Company_page .company-section {
    height: auto;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right .card-w1 {
    width: 320px;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right .card-w2 {
    width: 320px;
  }
  .Company_page .company-section .container .company-section-wrapper .company-section-right .card-w3 {
    width: 320px;
  }
  .Company_page .company-section .container .company-section-wrapper .wrr {
    width: 100%;
  }
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins-Regular.ttf);
}
.Service_Page .sec1 {
  height: 574px;
  flex-shrink: 0;
  background: #ffe6d2;
}
.Service_Page .sec1 .big {
  padding-top: 96px;
  display: flex;
  gap: 253px;
}
.Service_Page .sec1 .big .mini h2 {
  color: #232536;
  /* H2 Heading */
  font-family: sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  width: 622px;
  padding-top: 12px;
}
.Service_Page .sec1 .big .mini .p {
  color: var(--Dark, #232536);
  /* Paragraph */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 624px;
  padding-top: 24px;
}
.Service_Page .sec1 .big .mini .but1 {
  background: linear-gradient(180deg, #444cfc 0%, #444cfc 100%);
  width: 231px;
  height: 64px;
  flex-shrink: 0;
  border: none;
  color: #fff;
  cursor: pointer;
  /* Label/Label_Med */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  opacity: 0.87;
  margin-top: 40px;
}
.Service_Page .sec1 .big .mini .but1 svg {
  padding-top: 5px;
}
.Service_Page .sec1 .big .mini1 {
  margin-top: 50px;
}
.Service_Page .sec1 .big .mini1 h4 {
  color: #232536;
  /* H4 Heading */
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
.Service_Page .sec1 .big .mini1 .hh1 {
  margin-top: 17px;
}
.Service_Page .sec1 .big .mini1 .hh2 {
  margin-top: 17px;
}
.Service_Page .sec1 .big .mini1 .hh3 {
  margin-top: 17px;
}
.Service_Page .sec1 .big .mini1 .hh4 {
  margin-top: 17px;
}
.Service_Page .sec2 {
  padding-bottom: 96px;
  padding-top: 96px;
  background: #f9f9ff;
}
.Service_Page .sec2 .vmeste {
  display: flex;
}
.Service_Page .sec2 .vmeste p {
  width: 100%;
  color: #000;
  opacity: 0.87;
  /* Caption */
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.Service_Page .sec2 .big2 h2 {
  color: #232536;
  /* H2 Heading */
  font-family: sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
  width: 733px;
  padding-top: 16px;
}
.Service_Page .sec2 .big2 p {
  color: #232536;
  /* Paragraph */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 642px;
  opacity: 0.87;
  padding-top: 16px;
}
.Service_Page .sec2 .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 47px;
  padding-top: 68px;
}
.Service_Page .sec2 .cards .card1 {
  border: 1px solid rgba(35, 37, 54, 0.17);
  width: 395px;
  height: 164px;
  flex-shrink: 0;
}
.Service_Page .sec2 .cards .card1 .vmes {
  display: flex;
}
.Service_Page .sec2 .cards .card1 .vmes img {
  padding-top: 32px;
  padding-left: 32px;
}
.Service_Page .sec2 .cards .card1 .vmes h6 {
  color: #000;
  /* H6 Heading */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding-top: 30px;
  padding-left: 16px;
}
.Service_Page .sec2 .cards .card1 .vmes p {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  opacity: 0.2;
  padding-top: 12px;
  padding-left: 190px;
}
.Service_Page .sec2 .cards .card1 .pi1 {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 340px;
  opacity: 0.6;
  padding-left: 95px;
}
.Service_Page .sec2 .cards .card1 .s1 {
  position: relative;
  left: 394px;
  bottom: 90px;
}
.Service_Page .sec2 .cards .card2 {
  border: 1px solid rgba(35, 37, 54, 0.17);
  width: 395px;
  height: 164px;
  flex-shrink: 0;
}
.Service_Page .sec2 .cards .card2 .vmes {
  display: flex;
}
.Service_Page .sec2 .cards .card2 .vmes img {
  padding-top: 32px;
  padding-left: 32px;
}
.Service_Page .sec2 .cards .card2 .vmes h6 {
  color: #000;
  /* H6 Heading */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding-top: 30px;
  padding-left: 16px;
}
.Service_Page .sec2 .cards .card2 .vmes p {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  opacity: 0.2;
  padding-top: 12px;
  padding-left: 180px;
}
.Service_Page .sec2 .cards .card2 p {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 340px;
  opacity: 0.6;
  padding-left: 95px;
  padding-bottom: 5px;
}
.Service_Page .sec2 .cards .card2 .s1 {
  position: relative;
  left: 394px;
  bottom: 90px;
}
.Service_Page .sec2 .cards .card3 {
  border: 1px solid rgba(35, 37, 54, 0.17);
  width: 395px;
  height: 164px;
  flex-shrink: 0;
}
.Service_Page .sec2 .cards .card3 .i1 {
  position: relative;
}
.Service_Page .sec2 .cards .card3 .vmes {
  display: flex;
}
.Service_Page .sec2 .cards .card3 .vmes img {
  padding-top: 32px;
  padding-left: 32px;
}
.Service_Page .sec2 .cards .card3 .vmes h6 {
  color: #000;
  /* H6 Heading */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding-top: 30px;
  padding-left: 16px;
}
.Service_Page .sec2 .cards .card3 .vmes p {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  opacity: 0.2;
  padding-top: 12px;
  padding-left: 155px;
}
.Service_Page .sec2 .cards .card3 p {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 340px;
  opacity: 0.6;
  padding-left: 95px;
  padding-bottom: 5px;
}
.Service_Page .sec2 .cards .card3 .s1 {
  position: relative;
  left: 394px;
  bottom: 90px;
}
.Service_Page .sec2 .cards .card4 {
  border: 1px solid rgba(35, 37, 54, 0.17);
  width: 395px;
  height: 164px;
  flex-shrink: 0;
}
.Service_Page .sec2 .cards .card4 .i1 {
  position: relative;
  top: -7px;
}
.Service_Page .sec2 .cards .card4 .vmes {
  display: flex;
  position: relative;
  top: -10px;
}
.Service_Page .sec2 .cards .card4 .vmes img {
  padding-top: 32px;
  padding-left: 32px;
}
.Service_Page .sec2 .cards .card4 .vmes h6 {
  color: #000;
  /* H6 Heading */
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  padding-top: 30px;
  padding-left: 16px;
}
.Service_Page .sec2 .cards .card4 .vmes p {
  color: var(--Black, #232536);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  opacity: 0.2;
  padding-top: 17px;
  padding-left: 155px;
}
.Service_Page .sec2 .cards .card4 p {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 340px;
  opacity: 0.6;
  padding-left: 95px;
  margin-top: -15px;
}
.Service_Page .sec2 .cards .card4 .s1 {
  position: relative;
  left: 394px;
  bottom: 90px;
}
.Service_Page .sec3 {
  padding-bottom: 96px;
}
.Service_Page .sec3 .big3 {
  display: flex;
}
.Service_Page .sec3 .big3 .minid {
  padding-top: 141px;
}
.Service_Page .sec3 .big3 .minid h4 {
  color: #000;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  opacity: 0.87;
}
.Service_Page .sec3 .big3 .minid h3 {
  width: 624px;
  color: #232536;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 16px;
}
.Service_Page .sec3 .big3 .minid p {
  width: 622px;
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.6;
  padding-top: 24px;
}
.Service_Page .sec3 .big3 .minid1 img {
  padding-left: 140px;
}

.sec4 {
  background: #ecf8f9;
  padding-bottom: 96px;
}
.sec4 .big4 {
  display: flex;
}
.sec4 .big4 .minid3 {
  padding-top: 141px;
  padding-left: 142px;
}
.sec4 .big4 .minid3 h4 {
  color: #000;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  opacity: 0.87;
}
.sec4 .big4 .minid3 h3 {
  color: #232536;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  width: 624px;
  padding-top: 16px;
}
.sec4 .big4 .minid3 p {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 622px;
  opacity: 0.6;
  padding-top: 24px;
}

.sec5 {
  padding-bottom: 96px;
}
.sec5 .big3 {
  display: flex;
}
.sec5 .big3 .minid {
  padding-top: 141px;
}
.sec5 .big3 .minid h4 {
  color: #000;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  opacity: 0.87;
}
.sec5 .big3 .minid h3 {
  width: 624px;
  color: #232536;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 16px;
}
.sec5 .big3 .minid p {
  width: 622px;
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.6;
  padding-top: 24px;
}
.sec5 .big3 .minid1 img {
  padding-left: 140px;
}

.sec6 {
  background: #f9f9ff;
  padding-bottom: 96px;
}
.sec6 .big4 {
  display: flex;
}
.sec6 .big4 .minid3 {
  padding-top: 141px;
  padding-left: 142px;
}
.sec6 .big4 .minid3 h4 {
  color: #000;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  opacity: 0.87;
}
.sec6 .big4 .minid3 h3 {
  color: #232536;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  width: 624px;
  padding-top: 16px;
}
.sec6 .big4 .minid3 p {
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 622px;
  opacity: 0.6;
  padding-top: 24px;
}

.sec7 {
  padding-bottom: 96px;
}
.sec7 .big3 {
  display: flex;
}
.sec7 .big3 .minid {
  padding-top: 141px;
}
.sec7 .big3 .minid h4 {
  color: #000;
  /* H4 Heading */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  opacity: 0.87;
}
.sec7 .big3 .minid h3 {
  width: 624px;
  color: #232536;
  /* H3 Heading */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 150% */
  padding-top: 16px;
}
.sec7 .big3 .minid p {
  width: 622px;
  color: #232536;
  /* Paragraph */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.6;
  padding-top: 24px;
}
.sec7 .big3 .minid1 img {
  padding-left: 140px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  margin-top: 70px;
}

.dark {
  background-color: #111 !important;
}

.dark {
  color: #ccc !important;
}/*# sourceMappingURL=main.css.map */